main {
  padding: 0 var(--header-main-left-right-padding);
  position: relative;
}

.card-grid {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, calc(100% / 12));
  grid-template-rows: repeat(8, calc(100% / 8));
}

.card-content {
  padding: 1rem;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.card-face {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.card .hover-area {
  position: absolute;
  z-index: 15;
  width: 100%;
  height: 100%;
}

.card {
  display: inline-block;
  position: relative;

  &:nth-of-type(1) {
    grid-area: 1 / 1 / span 4 / span 4;

    & .card-face {
      background-color: #263246;
      transition: opacity 1s;
      &:hover {
        opacity: 0;
      }
    }
  }

  &:nth-of-type(2) {
    grid-area: 1 / 5 / span 5 / span 3;

    & .card-face {
      background-color: #d3d6da;
      transition: all 1s;
      &:hover {
        opacity: 0;
        transform: rotateY(-180deg);
      }
    }
  }

  &:nth-of-type(3) {
    grid-area: 1 / 8 / span 3 / span 5;

    & .card-face {
      background-color: #dd9933;
    }

    & .hover-area:hover {
      & + .card-face {
        transition: transform 0.7s;
        transform: scale(0);
      }
    }
  }

  &:nth-of-type(4) {
    grid-area: 5 / 1 / span 4 / span 4;

    & .card-face {
      background-color: 	#ef5a5c;
    }

    & .hover-area:hover {
      & + .card-face {
        transition: all 0.7s;
        transform: translateY(100%);
        height: 0;

        & i {
          transition: opacity 0.1s;
          transition-delay: 0.25s;
          opacity: 0;
        }
      }
    }
  }

  &:nth-of-type(5) {
    grid-area: 6 / 5 / span 3 / span 3;

    & .card-face {
      background-color: #c1414a;
    }

    & .hover-area:hover {
      & + .card-face {
        transition: transform 0.5s;
        transform: rotate(0.5turn) scale(0);
      }
    }
  }

  &:nth-of-type(6) {
    grid-area: 4 / 8 / span 3 / span 5;

    & .card-face {
      background-color: #d67b64;
    }

    & .hover-area:hover {
      & + .card-face {
        animation: to-left-upper-corner 1s forwards;
        & i {
          transition: opacity 0.7s;
          opacity: 0;
        }
      }
    }
  }

  &:nth-of-type(7) {
    grid-area: 7 / 8 / span 2 / span 5;

    & .card-face {
      background-color: #4b7393;
    }

    & .hover-area:hover {
      & + .card-face {
        transition: all 1s;
        transform: scale(1.3);
        opacity: 0;
      }
    }
  }
}

@keyframes to-left-upper-corner {
  to {
    height: 0;
    width: 0;
  }
}

@keyframes elevator {
  0% {
    background-color: red;
  }

  100% {
    width: 100vw;
    height: 100vh;
    opacity: 0;
  }
}
