body {
  font-family: "Roboto", sans-serif;
}

.card-content {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  font-weight: 600;
}

.msg {
  font-size: large;
  font-weight: 550;

  &-title {
    font-weight: 800;
  }
}

.nav-menu > .username {
  font-size: larger;
  font-weight: 600;
}
