header {
  padding: 0 var(--header-main-left-right-padding);
  background-color: #34569f;
  animation: header-appear 1s;
  width: 100%;
  height: var(--header-height);
}

header > .logo {
  position: absolute;
}

i.notifications-img {
  float: right;
  display: inline-block;
  line-height: var(--header-height);
  vertical-align: middle;
  opacity: 50%;
  margin-right: 1rem;
  cursor: pointer;

  &:hover {
    transition: opacity 0.2s;
    opacity: 100%;
  }
}

.avatar {
  display: inline-block;
  float: right;

  &::before {
    content: attr(data-initial);
    display: inline-block;
    font-size: 1em;
    margin-top: calc(var(--header-height) / (1.5 * 4));
    width: calc(var(--header-height) / 1.5);
    height: calc(var(--header-height) / 1.5);
    line-height: calc(var(--header-height) / 1.5);
    text-align: center;
    border-radius: 50%;
    background: plum;
    vertical-align: middle;
    color: white;
  }
}

.menu {
  display: inline-block;
  position: relative;
  width: 100%;

  & input {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 0;
    top: calc(var(--header-height) / (1.5 * 4));
    width: calc(var(--header-height) / 1.5);
    height: calc(var(--header-height) / 1.5);
    opacity: 0;

    &:checked + .nav-menu {
      display: inline-block;
    }
  }
}

.nav-menu {
  display: none;
  width: 15rem;
  height: 12rem;
  background-color: whitesmoke;
  box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.28);
  position: absolute;
  right: 1rem;
  top: calc(var(--header-height) + 0.5rem);

  & > .username {
    text-align: center;
    padding: 0.3rem 0;
    margin: 0 0.5rem;
    border-bottom: 1px solid gray;
  }

  & ul {
    margin-top: 1rem;
    display: flex;
    height: 8rem;
    flex-direction: column;
    justify-content: space-between;

    & a {
      text-decoration: none;
      color: black;
      padding-left: 1rem;
      margin: 0 1rem; 
      display: inline-block;
      height: 2rem;
      line-height: 2rem;
      vertical-align: middle;

      &:hover {
        background-color: rgba(0, 0, 0, 0.03);
      }
    }
  }
}

@keyframes header-appear {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}
