@media (max-width: 900px) {
  body {
    grid: "h" var(--header-height) "m" auto "f" var(--footer-height);
  }

  .card-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, calc(100% / 8));

    & .card {
      &:nth-of-type(1) {
        grid-area: 1 / 1 / span 2;
      }
      &:nth-of-type(2) {
        grid-area: 1 / 2;
      }
      &:nth-of-type(3) {
        grid-area: 3 / 1 / span 2;
      }
      &:nth-of-type(4) {
        grid-area: 2 / 2 / span 2;
      }
      &:nth-of-type(5) {
        grid-area: 4 / 2 / span 4;
      }
      &:nth-of-type(6) {
        grid-area: 5 / 1 / span 3;
      }
      &:nth-of-type(7) {
        grid-area: 8 / 1 / span 1 / span 2;
      }
    }
  }

  .notifications {
    width: 35%;
  }
}

@media (max-width: 600px) {
  .card-grid {
    grid-template-columns: 100%;
    grid-template-rows: repeat(7, calc(100% / 7));

    & .card {
      &:nth-of-type(1) {
        grid-area: unset;
      }
      &:nth-of-type(2) {
        grid-area: unset;
      }
      &:nth-of-type(3) {
        grid-area: unset;
      }
      &:nth-of-type(4) {
        grid-area: unset;
      }
      &:nth-of-type(5) {
        grid-area: unset;
      }
      &:nth-of-type(6) {
        grid-area: unset;
      }
      &:nth-of-type(7) {
        grid-area: unset;
      }
    }
  }

  .notifications {
    width: 40%;
  }
}
