:root {
  --msg-height: 6rem;
  --msg-opacity: 75%; 
}

@mixin msg-icon($unicode) {
  content: "#{$unicode}";
  font-family: "FontAwesome";
  display: inline-block;
  padding-left: 0.2rem;
  position: absolute;
  line-height: calc(var(--msg-height) / 2);
  height: calc(var(--msg-height) / 2);
  vertical-align: middle;
  left: 0;
  top: 0;
  transform-origin: top left;
  transform: scale(2);
}

.notifications {
  width: 20%;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;

  & .msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: var(--msg-height);
    padding-left: 3rem;
    border-radius: 20px;
    position: relative;

    &-body {
      overflow-wrap: break-word;
    }
  }

  .msg-warning {
    background-color: #ede04d;
    opacity: var(--msg-opacity);

    &::before {
      @include msg-icon(\f06a);
    }
  }

  .msg-success {
    background-color: #15cd72;
    opacity: var(--msg-opacity);

    &::before {
      @include msg-icon(\f058);
    }
  }

  .msg-error {
    background-color: #ed4f32;
    opacity: var(--msg-opacity);

    &::before {
      @include msg-icon(\f00d);
    }
  }

  .msg-info {
    background-color: #4bb1cf;
    opacity: var(--msg-opacity);

    &::before {
      @include msg-icon(\f05a);
    }
  }
}
