body {
  display: grid;
  min-height: 100vh;
  gap: 1rem;
  grid: "h"var(--header-height) "m"calc(100vh - var(--footer-height) - var(--header-height) - 2rem) "f"var(--footer-height)
}

header {
  position: fixed;
  grid-area: h;
  z-index: 999;
}

main {
  grid-area: m;
}

footer {
  grid-area: f;
}
